:root {
  /* color */
  --black-color: #21243d;
  --mint-color: #edf7fa;
  --red-color: #ff6464;
  --blue-color: #00a8cc;
  --vavy-color: #142850;
  --grey-light-color: #8695a4;
  --grey-morelight-color: #e0e0e0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  max-width: 857px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
header .menu {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 30px 0 140px 0;
}

header .menu .icon {
  display: none;
}

/* Nav */
nav {
  display: flex;
  color: var(--vavy-color);
  justify-content: space-between;
  gap: 80px;
}

nav .part1 .Introduce {
  font-size: 44px;
  font-weight: bold;
}

nav .part1 .Describe {
  font-size: 16px;
  margin-top: 30px;
}

nav .part1 .Download {
  font-size: 20px;
  background-color: var(--red-color);
  margin-top: 40px;
  display: inline-block;
  padding: 13px;
}

nav .part1 .Download a {
  text-decoration: none;
  color: #ffffff;
}

nav .part2 {
  width: 100%;
  height: 100%;
  padding: 0 0 100px 20px;
}

nav .part2 img {
  border-radius: 50%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

/* Main */
.RecentPosts {
  color: var(--vavy-color);
  margin-top: 20px;
  background-color: var(--mint-color);
  background-clip: border-box;
}

.RecentPosts .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.RecentPosts .top .theme {
  font-size: 22px;
}

.RecentPosts .top .view {
  font-size: 16px;
  color: var(--blue-color);
}

.RecentPosts .postbox {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

.RecentPosts .postleft {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 24px;
}

.RecentPosts .postleft .topic {
  font-size: 26px;
  font-weight: bold;
}

.RecentPosts .postleft .medium {
  display: flex;
  gap: 26px;
  margin-top: 30px;
}

.RecentPosts .postleft .details {
  margin-top: 30px;
}

.RecentPosts .postright {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 4px;
}

.RecentPosts .postright .topic {
  font-size: 26px;
  font-weight: bold;
}

.RecentPosts .postright .medium {
  display: flex;
  gap: 26px;
  margin-top: 30px;
}

.RecentPosts .postright .details {
  margin-top: 30px;
}

.FeaturedWorks {
  color: var(--vavy-color);
}

.FeaturedWorks .top {
  font-size: 22px;
  padding: 20px 0;
}

.FeaturedWorks .firstpost {
  margin-top: 16px;
  display: flex;
  border-bottom: 1px solid var(--grey-morelight-color);
  padding-bottom: 16px;
  gap: 18px;
}

.FeaturedWorks .firstpost .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.FeaturedWorks .firstpost .topic {
  font-size: 30px;
  font-weight: bold;
}

.FeaturedWorks .firstpost .medium {
  display: flex;
  align-items: center;
  gap: 26px;
  margin-top: 18px;
}

.FeaturedWorks .firstpost .year {
  background-color: var(--vavy-color);
  color: #ffffff;
  font-size: 18px;
  border-radius: 16px;
  padding: 6px 10px;
  font-weight: 900;
}

.FeaturedWorks .firstpost .style {
  font-size: 20px;
  color: var(--grey-light-color);
}

.FeaturedWorks .firstpost .details {
  font-size: 16px;
  margin-top: 18px;
}

.FeaturedWorks .mediumpost {
  margin-top: 16px;
  display: flex;
  border-bottom: 1px solid var(--grey-morelight-color);
  padding-bottom: 16px;
  gap: 18px;
}

.FeaturedWorks .mediumpost .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.FeaturedWorks .mediumpost .topic {
  font-size: 30px;
  font-weight: bold;
}

.FeaturedWorks .mediumpost .medium {
  display: flex;
  margin-top: 18px;
  align-items: center;
  gap: 26px;
}

.FeaturedWorks .mediumpost .year {
  background-color: var(--vavy-color);
  color: #ffffff;
  font-size: 18px;
  border-radius: 16px;
  padding: 6px 10px;
  font-weight: 900;
}

.FeaturedWorks .mediumpost .style {
  font-size: 20px;
  color: var(--grey-light-color);
}

.FeaturedWorks .mediumpost .details {
  margin-top: 18px;
  font-size: 16px;
}

.FeaturedWorks .lastpost {
  margin-top: 16px;
  display: flex;
  border-bottom: 1px solid var(--grey-morelight-color);
  padding-bottom: 16px;
  gap: 18px;
}

.FeaturedWorks .lastpost .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.FeaturedWorks .lastpost .topic {
  font-size: 30px;
  font-weight: bold;
}

.FeaturedWorks .lastpost .medium {
  display: flex;
  margin-top: 18px;
  align-items: center;
  gap: 26px;
}

.FeaturedWorks .lastpost .year {
  background-color: var(--vavy-color);
  color: #ffffff;
  font-size: 18px;
  border-radius: 16px;
  padding: 6px 10px;
  font-weight: 900;
}

.FeaturedWorks .lastpost .style {
  font-size: 20px;
  color: var(--grey-light-color);
}

.FeaturedWorks .lastpost .details {
  margin-top: 18px;
  font-size: 16px;
}

/* Footer */
footer {
  margin-top: 84px;
  margin-bottom: 54px;
}

footer .icons {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
}

footer .copyright {
  margin-top: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 481px) {
  header .icon {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  header .menu {
    display: none;
  }

  header .icon {
    display: flex;
    justify-content: right;
    font-size: 40px;
    padding: 20px 0;
  }

  nav {
    flex-direction: column;
    gap: 40px;
  }

  nav .part1 {
    order: 2;
  }

  nav .part2 {
    order: 1;
    margin-top: 30px;
    padding: 0 80px 10px 80px;
  }

  nav .part1 .Introduce {
    text-align: center;
  }

  nav .part1 .Describe {
    text-align: center;
    margin-top: 20px;
  }

  nav .part1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  nav .part1 .Download {
    margin: 0 auto;
    margin-top: 26px;
  }

  .RecentPosts {
    margin-top: 60px;
  }

  .RecentPosts .view {
    display: none;
  }

  .RecentPosts .theme {
    margin: 0 auto;
  }

  .RecentPosts .postbox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .RecentPosts .postleft {
    padding: 18px;
    margin: 0 10px;
  }

  .RecentPosts .postright {
    padding: 18px;
    margin: 0 10px;
    margin-top: 16px;
    margin-bottom: 20px;
  }

  .FeaturedWorks .mediumpost {
    display: none;
  }

  .FeaturedWorks .lastpost {
    display: none;
  }

  .FeaturedWorks .firstpost {
    flex-direction: column;
    margin-top: 0;
  }

  .FeaturedWorks .top {
    text-align: center;
  }

  .FeaturedWorks .firstpost .img {
    text-align: center;
  }

  .FeaturedWorks .firstpost img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
